@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Oswald:wght@700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    background-color: #e90023;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    width: 100vw;
    margin: 0;
}

#logo {
    margin-bottom: 0%;
    font-size: 900;
    font-weight: bolder;
}

hr {
    width: 17.5%;
    margin-top: 0;
    border: 2px solid white;
}

#container {
    justify-content: center;
    align-items: center;
    text-align: center;  
}

/* INDEX.HTML PAGE STYLE */
#welcome {
    width: 70%;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 12px;
    padding-top: 10px;
}

#cardiac-arrest {
    width: 30%;
    height: 150px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    border-style: solid;
    padding: 12px;
    text-align: justify;
}

#start-game {
    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}

#begin, #submit, #nextstep, #prevstep, #restart{
    width: 110px;
    font-size: large;
    font-weight: bold;
    box-shadow: 0 6px 12px -2px rgba(#F27813, .15);
    background-color: #e90023;
    border-radius: 25px;
    padding: 10px;
    margin: 50px;
    cursor: pointer;
}

input[type=text], select {
    width: 25%;
    padding: 0.4rem 0.8rem;
    display: inline-block;
    border: 1px solid #1700e9;
    outline-color: #e90023;
    border-radius: 10px;
    box-sizing: border-box;
}

/* QUIZGAME.HTML PAGE STYLE */
#quiz-header {
    padding: 20px;
    border-bottom: 3px solid white;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: row;  
}

.score {
    font-size: large;
    font-weight: bold;
}

#user-score, #total-score {
    color: #e90023;
}

#question-container {
    background-color: white;
    width: 70%;
    height: 450px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}

#question-container hr {
    width: 12%;
    margin: 5px auto;
    border-color: #e90023;
}

.score {
    padding-top: 10px;
}

#question-header {
    font-size: larger;
    font-weight: bold;
    text-align: center;  
    padding-top: 15px; 
}

#question-box {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#question-options {
    justify-content: space-around;
}

.option-button {
    height: 100px;
    width: 50%;
    border: 4px solid #e90023;
    margin-top: 20px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
}

#submit, #nextstep, #prevstep, #restart {
    color: white;
}

#submit {
    margin: 0;
}

.hide {
    display: none;
}

.page-footer {
    width: 100%;
margin-top: 20px;
padding: 30px;
text-align: center;
color: white;
display: block;
background-color: black;
}

.page-footer i {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Media Queries */

@media screen and (max-width: 380px) {
    #welcome {
        font-size: x-small;
        padding: 30px;
    }

    #begin, #submit, #nextstep, #prevstep, #restart{
    width: 80px;
    font-size: small;
    padding: 5px;
    margin: 20px;
    }
}

@media screen and (max-width: 920px) {
    #cardiac-arrest {
        height: 225px;
    }

    #welcome {
        font-size: small;
       
    }
}

@media screen and (max-width: 660px) {
    #welcome {
        width: 95%;
        height: 150px;
    }

    #cardiac-arrest {
        height: 225px;
        width: 60%;
    }

    .option-button {   
        width: 90%;
    }

    input[type=text], select {
        width: 50%;
    }
}