@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    background-color: #e90023;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#logo {
    margin-bottom: 0%;
}

hr {
    width: 17.5%;
    margin-top: 0;
    border: 2px solid white;
}

#container {
    justify-content: center;
    align-items: center;
    text-align: center;  
}

/* INDEX.HTML PAGE STYLE */
#welcome {
    width: 70%;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 12px;
    padding-top: 10px;
}

#cardiac-arrest {
    width: 30%;
    height: 150px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    border-style: solid;
    padding: 12px;
    text-align: justify;
}

#start-game {
    width: 70%;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}

#begin, #submit, #next-step, #prev-step {
    width: 110px;
    font-size: large;
    font-weight: bold;
    box-shadow: 0 6px 12px -2px rgba(#F27813, .15);
    background-color: #e90023;
    border-radius: 25px;
    padding: 10px;
    margin: 50px;
    cursor: pointer;
}

input[type=text], select {
    width: 25%;
    padding: 0.75rem 1.3rem;
    display: inline-block;
    border: 1px solid #1700e9;
    outline-color: #e90023;
    border-radius: 10px;
    box-sizing: border-box;
}

/* QUIZGAME.HTML PAGE STYLE */
#quiz-header {
    padding: 20px;
    border-bottom: 3px solid white;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: row;  
}

#question-container {
    background-color: white;
    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}

#question-container hr {
    width: 12%;
    margin: 5px auto;
    border-color: #e90023;
}

#question-header {
    font-size: larger;
    font-weight: bold;
    text-align: center;  
    padding-top: 15px; 
}

#question {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#question-options {
    justify-content: space-around;
}

.option-button {
    height: 100px;
    width: 50%;
    border: 4px solid #e90023;
    margin-top: 20px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
}

#submit, #next-step, #prev-step {
    color: white;
}