/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Oswald:wght@700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    background-color: #FF331F;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    color: #0D0106;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 100px
}

#logo {
    margin-bottom: 0%;
    font-size: 50px;
    font-weight: bolder;
}

.game-name {
    margin: 0;
}

#username {
    padding-bottom: 5px;
    font-size: larger;
}

hr {
    width: 17.5%;
    margin-top: 0;
    margin-bottom: 0;
    border: 2px solid #fbfbff;
}

#container {
    justify-content: center;
    align-items: center;
    text-align: center;  
}

/* INDEX.HTML PAGE STYLE */
#welcome {
    width: 70%;
    height: 100px;
    background-color: #fbfbff;
    border-radius: 20px;
    margin: auto;
    margin-top: 12px;
    padding-top: 10px;
    box-shadow: 0.25rem 0.25rem black, -0.25rem -0.25rem #fbfbff;
}

#cardiac-arrest {
    width: 30%;
    height: 150px;
    margin: auto;
    margin-top: 30px;
    background-color: #fbfbff;
    border-style: solid;
    padding: 12px;
    text-align: justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .65), 0 6px 20px 0 rgba(0, 0, 0, .75);
}

/* Add amination to point out key information on the page */
#cardiac-arrest:hover {
    transform: perspective(200px) translateZ(30px);
    transition: transform 0.5s ease-in;
    background-color: #657ed4;
    color: #0d0106;
}

#start-game {
    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 15px;
    background-color: #fbfbff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
    box-shadow: 0 -5px 3px -3px #0d0106, 0 5px 3px -3px #0D0106;
}

#begin, #submit, #nextstep, #prevstep, #restart{
    width: 110px;
    font-size: large;
    font-weight: bold;
    box-shadow: 0 6px 12px -2px rgba(255,51,31, .15);
    background-color: #FF331F;
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}

input[type=text], select {
    width: 25%;
    padding: 0.4rem 0.8rem;
    display: inline-block;
    border: 1px solid #1700e9;
    outline-color: #e90023;
    border-radius: 10px;
    box-sizing: border-box;
}

/* QUIZGAME.HTML PAGE STYLE */
#quiz-header {
    border-bottom: 4px solid #fbfbff;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: row;  
}

.score {
    font-size: large;
    font-weight: bold;
}

#user-score, #total-score {
    color: #1700e9;
}

#question-container {
    background-color: #fbfbff;
    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .65), 0 6px 20px 0 rgba(0, 0, 0, .75);
}

#question-container hr {
    width: 12%;
    margin: 5px auto;
    border-color: #FF331F;
}

.score {
    padding-top: 10px;
}

#question-header {
    font-size: larger;
    font-weight: bold;
    text-align: center;  
    padding-top: 15px; 
}

#question-box {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#question-options {
    justify-content: space-around;
}

.option-button {
    height: 100px;
    width: 50%;
    border: 4px solid #FF331F;
    margin-top: 20px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
}

.option-button:hover {
    background-color: #657ed4;
    color: aquamarine;
    border: 0;
}

#submit, #nextstep, #prevstep, #restart {
    color: #fbfbff;
}

#submit {
    margin: 0;
}

.hide {
    display: none;
}

.page-footer {
width: 100%;
margin: 0;
padding: 15px;
text-align: center;
color: #fbfbff;
background-color: black;
height: 100px;
position: absolute;
bottom: 0;
border-top: 4px solid #657ed4;
}

.page-footer i {
    font-size: 2.5rem;
    color: #fbfbff;
    text-align: center;
    padding: 0;
    margin: 0;
}

i:hover {
    color: #657ed4;
}

/* Media Queries */
/* Make website responsive to screen sizes of 380px and below */

@media screen and (max-width: 435px) {
    #welcome {
        font-size: x-small;
    }

    #username {
        font-size: large;
    }

    #begin, #submit, #nextstep, #prevstep, #restart{
    width: 80px;
    font-size: small;
    padding: 5px;
    margin: 20px;
    }

    #start-game {
        width: 80%;
        padding: 0;
    }

    #start-game h3 {
        padding-top: 5px
    }
}

/* Make website responsive to screen sizes of 660px and below */
@media screen and (max-width: 660px) {
    #welcome {
        width: 95%;
        height: 150px;
        padding: 30px;
    }

    #cardiac-arrest {
        height: 225px;
        width: 60%;
    }

    .option-button {   
        width: 90%;
    }

    input[type=text], select {
        width: 50%;
    }

    #start-game p {
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Make website responsive to screen sizes of 920px and below */
@media screen and (max-width: 920px) {
    #cardiac-arrest {
        height: 225px;
    }

    #welcome {
        font-size: small;     
    }


}